/*Global*/
body {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    color: #3D3E42!important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
/*Header*/
.header {
    margin: 0 25px;
    border-bottom: solid #ddd 1px;
    margin-bottom: 50px!important;
    padding-bottom: 10px;
}
.header img {
    top: 0;
    height: 70px;
    display: inline-block;
    margin-left: 25px;
}

/*Content*/
.content {
    text-align: center;
}

/*Product Details*/
#product-details {
    text-align: justify;
    margin-top: 50px;
    border-top: solid #ddd 1px;
    border-bottom: solid #ddd 1px;
    padding: 25px 0;
}
.fa-times {
    color: #3D3E42;
    font-size: 2em;
    margin-bottom: 25px;
    text-align: right;
    float: right;
    cursor: pointer;
}
.fa-times:hover {
    color: #FBBB1D;
}
#product-details img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 25px;
}

/*Products*/
#product-list {
    margin-top: 75px;
}
.product {
    text-align: center;
    margin: 50px 0;
    position: relative;
}
.product img {
    object-fit: contain;
    width: 80%;
    height: 200px;
}
#product-list h2 {
    text-align: justify;
}
/*Hover Product*/
.hover-product {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(251, 187, 29, 0.9);
    padding: 50px 25px;
}
.hover-product p {
    color: white!important;
}

/*Media Queries*/
@media(max-width: 620px) {
    .header {
        margin: 0 10px;
    }
    .header img {
        margin-left: 5px;
    }
}